body {
    background-image: url("https://i.etsystatic.com/11123188/r/il/8f12ae/1393011541/il_fullxfull.1393011541_gb3q.jpg")
        }

h1 {
    color: white;
}

.main-section {
    color: white;
}

h5 {
    color: white;
}

h3 {
    color: white;
}